.aboutContainer{
    display: grid;
    width: 100%;
    padding-top: 5vh;
    text-align: center;
}
/*details{
    width: 100%;
}*/
.aboutContainer summary{
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    border:0px navy groove;
    background-color: crimson;
    box-shadow: 0px 0px 3px 3px navy;
    cursor:pointer;
    margin-top: 5vh;
    width:100%;
    text-align: center;
    
    
}
#modules-summary{
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    border:0px navy groove;
    background-color: rgb(148, 36, 64);
    box-shadow: 0px 0px 3px 3px navy;
    cursor:pointer;
    margin-top: 5vh;
    width:100%;
    text-align: center;
    
    
}
#sub-title{
    margin-top: 10px;
    width: 50%;
    color:rgb(42, 176, 230);
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
table{
    margin-top: 20px;
    margin-left:10%;
    resize: both;
    border: solid 2px skyblue;
    width:60%;
    border-radius: 2px;
    text-align: start;
}
.modules{
color: green;
}
.sum-abt{
    background-color:rgb(10, 82, 110);
    padding: 5%;
    margin :5%;
    border-radius: 10px;
    font-style: italic;

}
@media screen and (max-width:430px) {
    table{
        margin-left:0%;
        resize: both;
        border: solid 2px navy;
        width:100%;
    }
    .sum-abt{
        background-color:rgb(10, 82, 110);
        padding: 5%;
        margin :5% auto;border-radius: 0;
        
    }
}