*{
    padding: 0;

}

body{
    background-color: rgb(11, 12, 12);
    color:white ;
    padding: 0px;
    margin: auto;
    font-size: 20px;
    overflow-x:hidden;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 15, 15);
    padding-left: 5px;
    padding-right: 5px;
}
.balance{
    display: flex;
    gap: 5px;
}
.logo{
    font-style: italic;
    color: red;
}
.history{
    display: flex;
    gap: 5px;
    height: 15px;
}
.avi-container{
    display: grid;
    height: 70vw;   
    background-color: rgba(0, 0, 0, 0.466);
    align-items:end;
}

.bet{
    display: flex;  
    align-items: center;
    padding: 0;

}
.bet-option{
    display: grid;
    grid-template-columns:  auto auto;
    justify-content: center;
    background-color: black;
    gap: 0;
    width: fit-content;
    justify-self: center;
    border-radius: 15px;
}

.m-bet, .auto{
    width:30vw ;text-align: center;
    border-radius: 15px;
}
.m-bet{
   background-color: rgb(27, 25, 25);
}


.bet-button{
    background-color: green;
    color: white;
    width: 50vw;
    height: 60px;
    border: none;
    border-radius: 15px;
    margin-left: 0vw;
    font-size: 20px;
    font-weight: 200;

}
input #autobet1{
    
    background-color: green;width: 100px;
}

.check{
    visibility: hidden;
}
section{
    display: grid;
    margin-top:10px ;
    border: none;
    color: white;
    background-color: rgb(36, 37, 37);
    border-radius: 15px;
    width: 100%;
    justify-content: center;
    
}
.bet-auto{
    display: grid;
    grid-template-columns: auto auto;
    width: 60vw;
    justify-content: space-between;
    background-color:green ;
    border-radius: 15px;
    
}

 label{
    width: 30vw;
    text-align: center;
   

}
input[type="number"]{
    width: 30vw;
    background-color: black;
    color: white;
    height: 20px;
    border: none;
    border-radius: 15px;
    text-align: center;
    
}
.bet-amount{
    width: 30vw;
    color: white;
    text-align: center;
}
.btn-amount{
    display: grid;
    grid-template-columns: auto auto;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
    row-gap: 18px;
}
.btn-amount button{
    margin-top:10px ;
    border: none;
    width: 13vw;
    color: white;
    background-color: rgb(26, 29, 29);
    border-radius: 15px;
   
}

#check1:checked~.bet-option>.auto{
    background-color: rgb(27, 25, 25);
 }
 #check1:checked~.bet-option>.m-bet{
    background-color:unset;
 }
 #check2:checked~.bet-option>.auto{
    background-color: rgb(27, 25, 25);
 }
 #check2:checked~.bet-option>.m-bet{
    background-color:unset;
 }
 .avi-jet{
    height: 10vw;
    width: 10vw;
    background-color:red;
    border-radius: 100px;
    margin: 15vw;
    animation: floating  6s infinite;

}
.zone{
    position: absolute;
    height: contain;
    width:contain;
    color:white;
    left: 35vw;
    animation: floating  6s infinite;
    font-size: 50px;
    font-weight: bolder;
}
.autoAll, .autoAll2{
    display: none;
    grid-template-columns: auto auto;
}

.toggleAuto{
    width: 55px;
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 25px;
    padding: 5px;
    
}
.dot, .dot2{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
}
.toggleCash, .toggleAuto2, .toggleCash2{
    width: 55px;
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 25px;
    padding: 5px;
    
}
.dotCash,.dotCash2{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
}
#autoBet, #autoBet2,#autoCashout,#autoCashout2 {
    visibility: hidden;
}
#autoBet:checked~.lbl-auto .toggleAuto .dot {
   transform: translate(40px);
   transition:ease-in-out 1s;
}
#autoBet2:checked~.lbl-auto2 .toggleAuto2 .dot2 {
    transform: translate(40px);
    transition:ease-in-out 1s;
 }
#autoCashout:checked~.lbl-cashout .toggleCash .dotCash{
    transform: translate(40px);
    transition:ease-in-out 1s;
}
#autoCashout2:checked~.lbl-cashout2 .toggleCash2 .dotCash2{
    transform: translate(40px);
    transition:ease-in-out 1s;
}
#check1:checked~.autoAll{
    display: grid;
}#check2:checked~.autoAll2{
    display: grid;
}
/*@keyframes floating{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(-5px);
    }
    
   
}*/
