.services-conitainer-section{
    display: grid;
    padding-top: 3%;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
.serv{
    width: 25vw;
    height: 20vw;
    margin-top: 3vh;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.serv:hover{
    margin-top: 2vh;
    box-shadow: 0px 0px 3px 3px white;

}